.madiv{
   
    position: relative;
    width: 390px;
    height: 844px;
    /* background: #FFFFFF; */
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    top: 200%;
}

.madiv2{
    position: absolute;
    width: 357px;
    height: 537px;
    left: 12px;
    top: 307px;

    background: #FFFBF4;
    border-radius: 10px 10px 0px 0px;
}

._tomate{
    position: absolute;
    width: 296px;
    height: 296px;
    left: 30px;
    top: -45%;

    background: url(../images/tomate.jpg);
    background-size: cover;
    border-radius: 100%;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

strong{
    position: absolute;
    width: 162px;
    height: 51px;
    left: 48px;
    top: 50px;
    font-weight: 700;
    font-size: 40px;

    color: #000000;

}

span{
    position: absolute;
    width: 105px;
    height: 34px;
    left: 48px;
    top: 100px;
    font-weight: 300;
    font-size: 24px;
    color: #FF9900;
}

.incr{
    position: absolute;
    width: 105px;
    height: 32px;
    left: 220px;
    top: 100px;

    background: #FFFFFF;
    border: 1px solid #FF9F2E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.btn_panier{
    position: absolute;
    width: 250px;
    height: 49px;
    left: 70px;
    top: 340px;

    background: #6CA336;
    border-radius: 20px;

}

.txt{
    position: absolute;
    width: 172px;
    height: 29px;
    left: 50px;
    top: -10px;
    font-weight: 700;
    font-size: 20px;

    color: #FFFFFF;
}

.pani{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 329px;
    top: 33px;
}

/* menu bar */
.gauche{
    position: sticky;
    width: 162px;
    height: 60px;
    left: 0.07%;
    top: 96.1%;
    border-radius: 20px;

    background: #FF9900;

}
.acc {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 33px;
    top: 2px;
    
    background: url(../icons/page-daccueil.png);
    background-size: cover;
    border-radius: 0px;
}


/* texte accueil */
.txt-accueil {
    position: absolute;
 width: 53px;
 height: 14px;
 left: -2px;
 top: 38px;
 font-weight: 700; 
 font-size: 13px;
                    
color: #FFFFFF;
text-decoration: none;
}

.search{
    position: absolute;
    width: 65px;
    height: 52px;
    left: 163px;
    /* top: 776px; */

    background: #7DBB41;
    border-radius: 100%;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.droite{
    position: absolute;
    width: 162px;
    height: 60px;
    left: 140.57%;
    top: 1%;
    border-radius: 20px;

    background: #FF9900;

}

.order{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 102px;
    top: 2px; 

    background: url(../icons/commande.png);
    background-size: cover;
}

/* text commande */
.ord{
    position: absolute;
    width: 71px;
    height: 17px;
    left: -7px;
    top: 38px;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

/* coté droit panier */
.panier{
    position: absolute;
width: 30px;
height: 30px;
left: 30px;
top: 6px;

background: url(../icons/panier.png);
background-size: cover;
}

.pan{
    position: absolute;
    width: 45px;
    height: 19px;
    /* left: -30px; */
    top: 34px;
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

.compte{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 100px;
    top: 6px;
    background: url(../icons/compte.png);
    background-size: cover;
}

.comp{
    position: absolute;
    width: 52px;
    height: 17px;
    /* left: 323px; */
    top: 34px;
    font-weight: 300;
    font-size: 13px;
    color: #000000;
    text-decoration: none;
}